<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} IBM 5100</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="app" class="overflow-hidden">{% block content %} {% endblock %}</div>
</body>

</html>